<div class="border border-primary">
  <div class="row">
    <h3 class="col-3">
      Fancy display heading
      <small class="text-muted">With faded secondary text</small>
    </h3>
    <h3 class="col-3" >
      Fancy display heading
      <small class="text-dark">With dark secondary text</small>
    </h3>
    <h3 class="col-3">
      Fancy display heading
      <small class="text-light">With light secondary text</small>
    </h3>
    <h3 class="col-3">
      Fancy display heading
      <small class="text-success">With success secondary text</small>
    </h3>
  </div>
</div>
<div class="border border-primary">
<div class="row">
  <div class="col">
  <h1 class="display-1 ">Display 1</h1>
  <h1 class="display-2 ">Display 2</h1>
  <h1 class="display-3 ">Display 3</h1>
  <h1 class="display-4 ">Display 4</h1>
  </div>
  <div class="col">
    <div class="container-sm">100% wide until small breakpoint</div>
    <div class="container-md">100% wide until medium breakpoint</div>
    <div class="container-lg">100% wide until large breakpoint</div>
    <div class="container-xl">100% wide until extra large breakpoint</div>
</div>
</div>
</div>
