<div class="border border-primary">
  <div class="row">
      <div class="col">
        <p class="h1 text-primary">h1. Bootstrap heading</p>
        <p class="h2 text-secondary">h2. Bootstrap heading</p>
        <p class="h3 text-success">h3. Bootstrap heading</p>
        <p class="h4 text-danger">h4. Bootstrap heading</p>
        <p class="h5 text-info">h5. Bootstrap heading</p>
        <p class="h6 text-muted">h6. Bootstrap heading</p>
      </div>
      <div class="col">
        <h1 class="bg-primary">h1. Bootstrap heading</h1>
        <h2 class="bg-secondary">h2. Bootstrap heading</h2>
        <h3 class="bg-success">h3. Bootstrap heading</h3>
        <h4 class="bg-danger">h4. Bootstrap heading</h4>
        <h5 class="bg-info">h5. Bootstrap heading</h5>
        <h6 class="bg-dark">h6. Bootstrap heading</h6>
      </div>
  </div>
  </div>
