<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="#" routerLink ="/alerts" routerLinkActive="active">Home-Alerts <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="#" routerLink="/buttons" routerLinkActive="active">Buttons</a>
      <a class="nav-link" href="#" routerLink="/cards" routerLinkActive="active">Cards</a>
      <a class="nav-link" href="#" routerLink="/colorstyles" routerLinkActive="active">Color Styles</a>
      <a class="nav-link" href="#" routerLink="/displaystyles" routerLinkActive="active">Display Styles</a>
      <a class="nav-link" href="#" routerLink="/paragraphs" routerLinkActive="active">Paragraphs</a>
    </div>
  </div>
</nav>
</div>
<div class="jumbotron bg-light">
  <div class="container">
    <h1 class="text-success display-4">Learn Bootstrap </h1>
    <p class="lead">This is one stop application with all the styles of Bootstrap</p>
    <hr class="my-4">
    <p>This app used boot strap grid. Scroll through this app to get different styles...</p>
    <div>
      <blockquote class="blockquote">
        <p class="mb-0">Use every opportunity on your way...</p>
        <footer class="blockquote-footer">someone <cite title="Source Title">From Somewhere</cite></footer>
      </blockquote>
  </div>
  </div>

</div>

<div class="container">

  <router-outlet></router-outlet>

</div>
